@import "settings";
.card{
    .card-divider{
        padding:0.5rem;
    }
    .title{
        text-align: center;
        width:100%;
        font-size:1.3rem;
    }
    .card-section:not(.first_section){
        padding-top:0rem;
    }
}

.stats_snippet{
    .cell{
        font-weight: bold;
        font-size: 2rem;
    }
    svg{
        width: 37%;
        height: auto;
    }
}

.tags{
    .label{
        font-size: 1rem;
        margin-bottom: 0.3rem;
    }
}
