$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;
$red:#EC3738;
$charcoal: #333333;
$charcoal-dark: #222222;
$charcoal-trans: rgba(51, 51, 51, .75);
$charcoal-light: #575656;

$conditionColor:#990000;
$spellColor:#008b8b;