.sort{
    position: relative;
    background-color: $charcoal;
    font-size: 1.3rem;
    border-radius: 4px;
    margin-top: 1px;
    padding-right:1em;
    padding-left:0.8em;
    padding-top:0.4em;
    padding-bottom: 0.4em;
    cursor:pointer;
    &.asc::after{
        content:"▲";
        font-size:11px;
        position: absolute;
        right: 6px;
        top:12px;
    }
    &.desc::after{
        content:"▼";
        font-size:11px;
        position: absolute;
        right: 6px;
        top:12px;
    }
}

.searchDiv{
    margin-bottom: 1rem;
    .pagination,.search{
        margin-bottom: 0;
    }
    .page{
        background-color: $charcoal;
        color:white;
        border-radius:3px;
        &:hover{
            background-color: $charcoal-light;
        }

    }
    .pagination{
        padding-top:0.5rem;
        li{
            display:inline-block !important;
            &.disabled{
                cursor: initial;
                padding-top:0;
                a{
                    cursor: default;
                    &:hover{
                        background-color: $charcoal;
                    }
                }
            }    
        }
    }
    .search{
        border-radius: 7px;
        border:2px $charcoal solid;
    }
    @include breakpoint(medium down) {
        .search{
            height: 3rem;
            margin-bottom: 0.4rem;
            font-size: 1.2rem;
        }
        li{
            margin-right: 0.3625rem;
            font-size:1.1rem;
            font-weight: bold;
            .page{
                padding: 0.5875rem 1.2rem;
            }
        }
    }
}

