.menu.menuMain {
    position:relative;
    margin-top: 1rem;
    @media only screen and (max-width: $large){
        padding-left:20%;
    }
    li > a {
        color :$black;
        font:700 1rem/1 "Raleway", $backup-fonts;
        text-transform: uppercase;
    }

    &.isHovered:hover #menuProduct{
        display:flex;
    }
    #menuProduct{
        display:none;
        @media only screen and (max-width: $medium){
            display:flex;
        }
        z-index: 1000;
        position:absolute;
        width:100%;
        top: 1rem;
        margin: 0px;
        left:0px;
        margin-top: rem-calc(30px);
        @include border(1px, solid, $black,top,bottom);
    }
}

[menuDropdown]{
    &>.row{
        margin:0px;
    }
    img[src='img/defaultRectangle.png']{
        @include border(1px, solid, $black);
        //height:297px;
        width:100%;
    }
    .squareContainer{
        position:relative;
        text-align: center;
        background: $white;
        text-transform: uppercase;
        @media only screen and (max-width: $medium){
            padding-bottom:rem-calc(40);
        }
        img{
            max-width: 60%;
        }
        h3{
            padding-top:rem-calc(30);
            font-size: rem-calc(24);
            margin: 0px;
            line-height: 0.8;
            @media only screen and (max-width: $xlarge){
                font-size: rem-calc(20);
            }
            @media only screen and (max-width: $medium){
                font-size: rem-calc(40);
                padding-top:rem-calc(50);
            }
        }
        h4{
            position:absolute;
            padding-top:rem-calc(8);
            margin: 0px;
            margin-left: rem-calc(-18);
            color:$dark-gray;
            left: 43%;
            font-size: rem-calc(16);
            line-height: 0.8;
            @media only screen and (max-width: $xlarge){
                font-size: rem-calc(14);
            }
            @media only screen and (max-width: $medium){
                font-size: rem-calc(28);
                line-height: 1;
                margin-left: rem-calc(-60);
            }
            &.longerText{
                margin-left: rem-calc(-35);
                @media only screen and (max-width: $medium){
                    margin-left: rem-calc(-80);
                }
            }
        }
        a.openings{
            display: inline-block;
            margin-top:rem-calc(15);
            color:$dark-gray;
            padding:rem-calc(4) rem-calc(9);
            @include border(1px, solid, $medium-gray);
            @media only screen and (max-width: $xlarge){
                font-size:rem-calc(14);
                margin-top:rem-calc(5);
                padding:rem-calc(2.5) rem-calc(7);
            }
            @media only screen and (max-width: $medium){
                font-size: rem-calc(25);
                margin-top:rem-calc(10);
                padding:rem-calc(5) rem-calc(30);
            }
        }
    }

    .centeredDivMenu{
        background: $charcoal;
        color:white ;
        padding-top:rem-calc(16px); 
        h4{
            //color:red;
            padding-bottom:0.2rem;
            font-size:rem-calc(24);
        }
        ul{
            padding-left: 0px;
            padding-right: 5px;
            margin:0px;
            @media only screen and (min-width: $xlarge){
                padding-right: 10px;
            }
        }
        li{
            padding-bottom: 0px;
            a{
                color:white;
                font-size:rem-calc(14);
                font-weight: normal;
                text-transform: uppercase;
            }
        }
        ul:first-child{
            li:first-child a{
                color:red;
            }
        }
    }
}

#dropdownHousing{
    background-color: white;
    padding:0px;
    a{
        font-weight: bold;
        color:$charcoal;
        // text-decoration:underline;
    }
    li{
        &:not(:last-child){
            @include border(2px, solid, $charcoal, bottom);
        }
        &:hover{
            background-color: $charcoal;
            a{
                color:$white;
            }
        }
    }
}

#openingsDiv{
    position:absolute;
    background: $charcoal;
    @media only screen and (max-width: $medium){
        background: $charcoal-dark;
    }
    width: 100%;
    height:100%;
    top:0px;
    i{
        position:absolute;
        top:10px;
        right:10px;
        cursor:pointer;
    }
    &>div{
        margin:0px;
        padding:rem-calc(15) rem-calc(15);
        padding-top:30px;
        div.columns{
            margin-top:rem-calc(25);
            @media only screen and (max-width: $xlarge){
                margin-top:rem-calc(20);
            }
            @media only screen and (max-width: $large){
                margin-top:rem-calc(15);
            }
            padding:0px 3px;
        }
        a{
            padding:rem-calc(12) rem-calc(7);
            //font-weight: bold;
            color:white;
            font-size: rem-calc(25);
            @include border(1px, solid, $white);
            @media only screen and (max-width: $xlarge){
                font-size: rem-calc(22);
                padding:rem-calc(9) rem-calc(5);
            }
            @media only screen and (max-width: $large){
                font-size: rem-calc(19);
                padding:rem-calc(7) rem-calc(4);
            }
            @media only screen and (max-width: $medium){
                font-size: rem-calc(48);
                padding:10px 5px;
            }
            @media only screen and (max-width: $medium-s){
                font-size: rem-calc(34);
                padding:10px 6px;
            }
        }
    }
}

ul.menu {
    li > a {
        &:hover{
            text-decoration: underline;
        }
    }
}
$menu_top_height:5.4rem;
ul.menu.menuTop {
    height: $menu_top_height;
    position:relative;
    padding-right:rem-calc(35px);
    background-color:$charcoal-dark;
    li > a {
        font:700 0.90rem/1 "Raleway", $backup-fonts;
        color :white;
        padding-top: 0.2rem;
    }
}

#logo-menu{
    position:absolute;
    left:rem-calc(35px);
    img{
        max-height: $menu_top_height*0.70;
    }
}



#menuProductMobile{
    z-index: 1000;
    background-color: $charcoal-dark;
    position:absolute;
    i{
        position: absolute;
        right: 2px;
        top: -2px;
    }
    //common to all a
    a{
        color:white;
        &:hover{
            text-decoration: none;
        }
    }
    [data-accordion-menu]{
        position:relative;
        margin:49px 44px;
        margin-bottom:30px;
        a{
            text-transform: uppercase;
        }
        //top level links
        [role="menuitem"]:not(.is-submenu-item) >a{
            padding:0px;
            padding-bottom:6px;
            margin-bottom:14px;
            font-size:rem-calc( 24);
            font-weight: bold;
            display: inline-block;
        }
        //red line under the last top level link
        &>[role="menuitem"]:last-child>a{
            position:relative;
        }
        &>[role="menuitem"]:last-child>a::after{
            display: block;
            width: 50px;
            height: 10px;
            content: '';
            border-bottom: $red 2px solid; 
            position: absolute;
            top: 45px;
            left: 0px;
        }
        //line under menu that have submenus
        li.is-accordion-submenu-parent>a{
            border-bottom: 2px $red solid;
        }
        //second level big links
        ul.is-accordion-submenu:not(.small-items){
            padding:20px 0px;
            padding-bottom: 40px ;
            margin:0px;
            li:not(.small-items):not(:first-child)>a{
                margin-top:14px;
            }
            a{
                padding:10px 24px;
                font-size:rem-calc( 22);
                background-color: $charcoal;

            }
        }
        //second level small links
        ul.is-accordion-submenu.small-items {
            padding:10px 0px;
            padding-bottom: 30px;
            margin:0px;
            a{
                font-size:rem-calc( 20);
                padding:7px 0px;
                padding-right: 5px ;
            }
        }
    }
    //menu top now under the accordion menu
    #menuTopMobile{
        margin:49px 44px;
        margin-top:0px;
        a{
            padding: 8px 0px;
            font-size:rem-calc( 21);
        }
    }

    .is-accordion-submenu-parent>a::after{
        top: 10%;
        right: -30px;
        border: inset 8px;
        border-top-style: solid;
        border-color: white transparent transparent;
        margin-top: 0px;
    }
}