.top-bar{
    background-color:initial;
    padding:0;
    padding-bottom: 2rem;
}

ul.menu {
    background-color:$charcoal-dark;
    a{
        color :white;
        //text-transform: uppercase;
        &:hover{
            text-decoration: underline;
        }
    }
    li:not(.menu-text ){
        padding:0.7rem 0.5rem;
    }
}
